*{
  box-sizing: border-box;
}
#logo {
    width: 100px;
    height: auto;
}
  
  /* background image */
.bgimage {
    height: 90vh;
    background: url("/img/bg-final.webp");
    background-size: cover;
    position: relative;
    min-height: 85vh;
  }
/* .bg-nav {
    background-color: #f7e8d9 !important;
    box-shadow: 0 0 10px rgb(23, 57, 92);
  } */
  
 
  /* debut de header*/
  /* .nav-link {
    font-size: 1.2rem;
  } */
  /* .link{
    border-radius: 10px;
    padding-left: 1rem;
  }
  .link:hover{
    box-shadow: 0 0 5px #9e866f;
    background: #eecba7;
  }

  .link:hover a{
    color:#0f0e0e;} */
  
  .active {
    font-weight: 600;
  }
  /* fin de header*/
  
  /* .img-th {
    margin-top: 5%;
  } */
  
  #avatar {
    max-width: 230px;
    height: auto;
    border-radius: 40%;
    margin-right: 40px;
    transform: translateY(-50px);

    /* border: 3px solid rgb(243, 200, 163); */
    animation: fadeIn 1s 2.8s backwards;
    box-shadow: 0 0 10px rgb(3, 41, 78);
  }
  h1.hero-title {
    letter-spacing: 1px;
    color: rgb(45, 45, 45);
    /* padding-top: 40px; */
    /* animation: rotateIn 1s linear both;
    animation-delay: 1.4s; */
  }
  h3.hero-desc {
    max-width: 80%;
    animation: fadeIn 1s 3.1s backwards;
    font-size: 2rem;
    transform: translateY(-50px);
  }
  .hero-text {
    margin-top: 10%;
  }
  
  .btn-sub {
    max-width: 100%;
    flex-wrap: wrap;
    transform: translateY(-50px);

  }
  .bt-style {
    padding: 5px 20px;
    margin-left: 40px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 10px rgb(3, 41, 78);
    transition: all 0.5s;
    text-transform: uppercase;
    border-radius: 10px;
    background: linear-gradient(to right, #4791d2, #176bab);
    min-width: 50px;
    animation: fadeIn 1s 3.2s backwards;
  }
  .bt-style:hover,
  .bt-style:focus {
    background: rgb(217 195 171);
    color: black;

  }
  
  .imageAboutPage {
    max-width: 70%;
    border-radius: 10%;
    margin-left: 10px;
  }
  --------------------parcours----------------------
   .h4-color {
    color: #1d685f;
  }
  
  /* ------------debut de icon----------------- */
  #momo i {
    color: rgb(30, 29, 29);
  }
  #momo i:hover {
    color: rgb(9, 9, 9);
  }
  @media screen and (min-width: 577px) {
    #momo {
      width: 40px;
      margin-left: 20px;
      position: fixed;
      top: calc(50vh - 160px);
      right: 40px;
      list-style: none;
    }
  
    #momo li {
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      margin: 2px 0;
    }
  
    #momo li a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: transparent;
      border: 1px solid rgb(13, 13, 13);
      border-radius: 50%;
      transition: 0.5s linear;
      color: rgb(228, 214, 214);
      margin: 10px;
    }
  
    #momo li a:hover {
      background: rgb(62, 123, 220);
      color: white;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    /* sm */
  }
  @media screen and (max-width: 576px) {
    body {
      margin: 0;
    }
    #logo {
      width: 60px;
      height: auto;
    }
    .navbar-brand {
      padding-right: 0;
    }
    #contact .contact-contenu ul {
      padding: 0 !important;
      margin: 0 !important;
    }
    .contact-contenu {
      background: white;
    }
    /* --------- icons desencent en bas----- */
    #momo {
      width: 40px;
      margin-left: 20px;
      position: fixed;
      bottom: 0;
      list-style: none;
      display: flex;
    }
  
    #momo li {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      margin: 2px 0;
    }
  
    #momo li a {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: rgb(149, 144, 144);
      border: 1px solid white;
  
      transition: 0.5s linear;
      color: rgb(207, 34, 34);
    }
  
    #momo li a:hover {
      background: wheat;
      color: white;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    #avatar {
      display: none;
    }
    .btn-sub {
      flex-direction: column;
      align-items: center;
    }
    .bt-style {
      max-width: 80vw;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  /* -----------------fin d'icons---------------- */
  
  /* responsive */
  .navbar-toggler-icon {
    background-color: aliceblue;
  }
  
  /* ------------ portfolio---------- */
  .list-logo {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .logo-tech {
    max-width: 80px;
    height: auto;
  }
  .projet-tech {
    background: #e6ddd2;
    padding: 50px 0;
    margin-top: 20px;
  }
  /* -----------contact----------- */
  #contact {
    min-height: 0vh;
  }
  #info {
    padding-left: 30px;
  }
  .contact-contenu {
    background-image: url(../img/contact2.jpg);
    background-size: cover;
    border-radius: 10px;
  }
  #contact {
    background: #ededed;
  }
  /* -------------footer---------------- */
  footer {
    background: #4791d2;
  }
  #coppyright{
    margin-bottom: 0 !important;
  }

